html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --gray: #9d9fa5;
  --dark-blue: #081965;
  --light-blue: rgb(1, 162, 253);
  --red: #b40000;
  --white: #fff;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background: url("../images/bg.webp") no-repeat center / cover fixed;
  margin: 0;
  padding: 0;
}

main {
  position: absolute;
  width: 100%;
  min-height: 100%;
  padding: 1rem;
  background-color: rgba(1, 162, 253, 0.7);
}

form {
  max-width: 900px;
  display: grid;
  gap: 1rem;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
  text-align: center;
  font-family: sans-serif;
  color: var(--dark-blue);
}

input[type="text"] {
  display: block;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.3rem;
  background-color: var(--dark-blue);
  color: var(--white);
  border: 2px solid var(--gray);
  outline: 2px solid var(--dark-blue);
}

button {
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0.3rem;
  background-color: var(--light-blue);
  border: 2px solid var(--dark-blue);
  color: var(--dark-blue);
  font-size: 1.5rem;
  min-width: 163px;
}

button:hover {
  background-color: var(--dark-blue);
  color: var(--light-blue);
}

li {
  text-transform: capitalize;
  line-height: 1.5rem;
  color: var(--white);
}

.letters {
  display: flex;
  flex: 1;
  gap: 0.5rem;
}

.solution {
  text-shadow: 1px 1px 5px #000;
}

.solved {
  background-color: var(--red) !important;
}

.options {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.other-solutions {
  border-radius: 0.3rem;
  background-color: var(--dark-blue);
  color: var(--white);
  border: 2px solid var(--gray);
  outline: 2px solid var(--dark-blue);
  padding: 1rem;
}

.other-solutions h2 {
  margin-top: 0;
}

.active {
  display: block;
}

.inputs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hidden {
  display: none;
}

@media screen and (max-width: 600px) {
  .letters {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}
